/*
 *  Remodal - v1.1.1
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */

/* ==========================================================================
   Remodal's default mobile first theme
   ========================================================================== */


/* Default theme styles of the modal dialog */

.remodal {
  color: #2b2e38;
  background: #fff;
  border-radius: 24px;
  box-sizing: border-box;	
  border: 3px solid #f6b457;
}

.remodal-confirm {
  background: #f6b457;
  border-radius: 100vh;
  box-sizing: border-box;
  }
  
  /* ホバー差分 */
  .remodal-confirm:hover,
  .remodal-confirm:focus {
  background: #ffdfa0;
  color: #fff;
  }
  
  /* クリック差分 */
  .remodal-confirm:active {
  background: #f3d393;
  transform: translateY(2px);
  }


.remodal-cancel {
  color: #fff;
  background: #8dc588;
  border-radius: 24px;
  box-sizing: border-box;	
}

.remodal-cancel:hover,
.remodal-cancel:focus {
  background: #c8eec2;
  color: #fff;
}

.remodal-cancel:active {
  background: #a9d6a3;
  transform: translateY(2px);
    }